#### SHARVESHWARAN S
#### DS205229128

### Lab12. Database Programming using sqlite3

#### Question1: Perform CRUD operations on student table as outlined in the reference (https://medium.com/analytics-vidhya/programming-with-databases-in-python-using-sqlite4cecbef51ab9 ).

In [8]:
import sqlite3
conn = sqlite3.connect('mydatabase1.sqlite')
cursor = conn.cursor()
print("Opened database successfully")

Opened database successfully

#### Performing Create Operation

In [11]:
cursor.execute('''CREATE TABLE COLLEGE
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         MARKS          INT);''')
cursor.close()

In [15]:
import sqlite3
conn = sqlite3.connect('mydatabase1.sqlite')
cursor = conn.cursor()
cursor.execute("INSERT INTO COLLEGE (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (1, 'Sharvesh', 21, 'Delhi', 400)");
cursor.execute("INSERT INTO COLLEGE (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (2, 'Hari', 21, 'Bangalore', 450 )");
cursor.execute("INSERT INTO COLLEGE (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (3, 'Kumar', 21, 'Hyderabad', 400 )");
cursor.execute("INSERT INTO COLLEGE (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (4, 'Vicky', 21, 'Kolkata', 650)");
conn.commit()
conn.close()

#### Performing Read operation

In [1]:
import sqlite3
conn = sqlite3.connect('mydatabase1.sqlite')
cursor = conn.cursor()
for row in cursor.execute("SELECT ID, NAME, MARKS from COLLEGE"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("MARKS = ", row[2], "\n")
conn.commit()
conn.close()

ID =  1
NAME =  sharvesh
MARKS =  400

ID =  2
NAME =  sam
MARKS =  450

ID =  3
NAME =  hari
MARKS =  400

ID =  4
NAME =  vicky
MARKS =  650

#### Performing Update operation

In [2]:
import sqlite3
conn = sqlite3.connect('mydatabase1.sqlite')
cursor = conn.cursor()
conn.execute("UPDATE COLLEGE set MARKS = 440 where ID = 4")
conn.commit()
for row in cursor.execute("SELECT ID, NAME, MARKS from COLLEGE"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("MARKS = ", row[2], "\n")
conn.commit()
conn.close()

ID =  1
NAME =  sharvesh
MARKS =  400

ID =  2
NAME =  sam
MARKS =  450

ID =  3
NAME =  hari
MARKS =  400

ID =  4
NAME =  vicky
MARKS =  440

#### Performing Delete Operation

In [3]:
import sqlite3
conn = sqlite3.connect('mydatabase1.sqlite')
cursor = conn.cursor()
conn.execute("DELETE from  COLLEGE where ID = 3")
conn.commit()
for row in cursor.execute("SELECT ID, NAME, ADDRESS, MARKS from COLLEGE"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("MARKS = ", row[3], "\n")
conn.commit()
conn.close()

ID =  1
NAME =  sharvesh
ADDRESS =  Delhi
MARKS =  400

ID =  2
NAME =  sam
ADDRESS =  Bangalore
MARKS =  450

ID =  4
NAME =  vicky
ADDRESS =  Kolkata
MARKS =  440

#### Question2: Open the table MyRestaurant.db that you have created fo NoSQL course

In [3]:
import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
print("Opened database successfully")

Opened database successfully

In [12]:
import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
cursor.execute('''CREATE TABLE MYRESTAURANT
         (NAME           TEXT,
          FOODTYPE       TEXT,
          DISTANCE       INT,
          LASTVISIT      VARCHAR,
          ILIKE          VARCHAR);''')
cursor.close()

In [1]:
import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('apple_leaf', 'nonveg', 15, '01-Jan-2020', 1)");
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('sowmyas', 'veg', 18, '20-Mar-2020', 1)");
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('thinnappa', 'nonveg', 25, '20-Nov-2019', 0)");
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('sribhavan', 'veg', 18, '20-Dec-2019', 0)");
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('chinaworld', 'chinese', 14, '05-Mar-2020', 0)");
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('littlechina', 'chinese', 30, '10-Mar-2020', 0)");
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('munivilas', 'nonveg', 20, '05-Dec-2019', 'null')");
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('dosacorner', 'nonveg', 10, '05-Feb-2020', 1)");
conn.commit()
conn.close()

#### Question3: Write a SQL query that returns all restaurants in your table MyRestaurant.db

In [2]:
import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
for row in cursor.execute("SELECT NAME from MYRESTAURANT"):
    print("NAME = ", row[0])
conn.commit()
conn.close()

NAME =  apple_leaf
NAME =  sowmyas
NAME =  thinnappa
NAME =  sribhavan
NAME =  chinaworld
NAME =  littlechina
NAME =  munivilas
NAME =  dosacorner

#### Question4: Write a SQL query that returns the names of restaurants in descending order that makes Chinese foods.

In [7]:
import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
for row in cursor.execute("SELECT NAME, FOODTYPE from MYRESTAURANT WHERE FOODTYPE = 'chinese' GROUP BY NAME, FOODTYPE ORDER BY NAME, FOODTYPE DESC"):
    print("NAME = ", row[0])
    print("FOODTYPE= ", row[1])
conn.commit()
conn.close()

NAME =  chinaworld
FOODTYPE=  chinese
NAME =  littlechina
FOODTYPE=  chinese