Mahalakshmi.S

DS205229118

1.Perform CRUD operations on Student Table as outlined in the reference
(https://medium.com/analytics-vidhya/programming-with-databases-in-python-using-sqlite4cecbef51ab9 ).

In [21]:
import sqlite3
conn = sqlite3.connect('mydatabase3.sqlite')
cursor = conn.cursor()
print("Opened database successfully")

Opened database successfully

Performing Create Operation

In [22]:
cursor.execute('''CREATE TABLE SCHOOL3
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         MARKS          INT);''')
cursor.close()

In [23]:
import sqlite3
conn = sqlite3.connect('mydatabase3.sqlite')
cursor = conn.cursor()
cursor.execute("INSERT INTO SCHOOL3 (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (1, 'viveka', 16, 'Bangalore', 800)");
cursor.execute("INSERT INTO SCHOOL3 (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (2, 'raji', 16, 'Delhi', 750 )");
cursor.execute("INSERT INTO SCHOOL3 (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (3, 'murugan', 16, 'TamilNadu', 500 )");
cursor.execute("INSERT INTO SCHOOL3 (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (4, 'kavi', 16, 'Kerala', 550)");
conn.commit()
conn.close()

Performing Read operation

In [24]:
import sqlite3
conn = sqlite3.connect('mydatabase3.sqlite')
cursor = conn.cursor()
for row in cursor.execute("SELECT ID, NAME, MARKS from SCHOOL3"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("MARKS = ", row[2], "\n")
conn.commit()
conn.close()

ID =  1
NAME =  viveka
MARKS =  800

ID =  2
NAME =  raji
MARKS =  750

ID =  3
NAME =  murugan
MARKS =  500

ID =  4
NAME =  kavi
MARKS =  550

Performing Update operation

In [25]:
import sqlite3
conn = sqlite3.connect('mydatabase3.sqlite')
cursor = conn.cursor()
conn.execute("UPDATE SCHOOL3 set MARKS = 440 where ID = 4")
conn.commit()
for row in cursor.execute("SELECT ID, NAME, MARKS from SCHOOL3"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("MARKS = ", row[2], "\n")
conn.commit()
conn.close()

ID =  1
NAME =  viveka
MARKS =  800

ID =  2
NAME =  raji
MARKS =  750

ID =  3
NAME =  murugan
MARKS =  500

ID =  4
NAME =  kavi
MARKS =  440

Performing Delete Operation

In [26]:
import sqlite3
conn = sqlite3.connect('mydatabase3.sqlite')
cursor = conn.cursor()
conn.execute("DELETE from  SCHOOL3 where ID = 3")
conn.commit()
for row in cursor.execute("SELECT ID, NAME, ADDRESS, MARKS from SCHOOL3"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("MARKS = ", row[3], "\n")
conn.commit()
conn.close()

ID =  1
NAME =  viveka
ADDRESS =  Bangalore
MARKS =  800

ID =  2
NAME =  raji
ADDRESS =  Delhi
MARKS =  750

ID =  4
NAME =  kavi
ADDRESS =  Kerala
MARKS =  440

In this program,we want to perform Cereate,Read,Update,Delete operations on Student Table as outlined in the reference website.First we want to connect the database sucessfully,then create the table,read the created table,update the table row in marks and delete one row in the table then print the output.

2.Open the table MyRestaurants.db that you have created for NoSQL course.

In [9]:
import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
print("Opened database successfully")

Opened database successfully

In [10]:
import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
cursor.execute('''CREATE TABLE MYRESTAURANT
         (NAME           TEXT,
          FOODTYPE       TEXT,
          DISTANCE       INT,
          LASTVISIT      VARCHAR,
          ILIKE          VARCHAR);''')
cursor.close()

In [1]:
import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('apple_leaf', 'nonveg', 15, '01-Jan-2020', 1)");
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('sowmyas', 'veg', 18, '20-Mar-2020', 1)");
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('thinnappa', 'nonveg', 25, '20-Nov-2019', 0)");
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('sribhavan', 'veg', 18, '20-Dec-2019', 0)");
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('chinaworld', 'chinese', 14, '05-Mar-2020', 0)");
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('littlechina', 'chinese', 30, '10-Mar-2020', 0)");
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('munivilas', 'nonveg', 20, '05-Dec-2019', 'null')");
cursor.execute("INSERT INTO MYRESTAURANT  (NAME,FOODTYPE,DISTANCE,LASTVISIT,ILIKE) \
      VALUES ('dosacorner', 'nonveg', 10, '05-Feb-2020', 1)");
conn.commit()
conn.close()

In this program,we want to open the table MyRestaurants.db that we have created for NoSQL course.First we want to connect the database sucessfully,then create the table and insert all the rows in it.

3.Write a SQL query that returns all restaurants in your table MyRestaurants.db.

In [12]:
import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
for row in cursor.execute("SELECT NAME from MYRESTAURANT"):
    print("NAME = ", row[0])
conn.commit()
conn.close()

NAME =  apple_leaf
NAME =  sowmyas
NAME =  thinnappa
NAME =  sribhavan
NAME =  chinaworld
NAME =  littlechina
NAME =  munivilas
NAME =  dosacorner

In this program,we connect the database,then returns all restaurants in the table MyRestaurants.db.

4.Write a SQL query that returns the names of restaurants in descending order that
makes Chinese foods.

In [13]:
import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
for row in cursor.execute("SELECT NAME, FOODTYPE from MYRESTAURANT WHERE FOODTYPE = 'chinese' GROUP BY NAME, FOODTYPE ORDER BY NAME, FOODTYPE DESC"):
    print("NAME = ", row[0])
    print("FOODTYPE= ", row[1])
conn.commit()
conn.close()

NAME =  chinaworld
FOODTYPE=  chinese
NAME =  littlechina
FOODTYPE=  chinese

In this program,we want to connect the database first,then returns the names of restaurants in descending order that makes Chinese foods in the table MyRestaurants.db and print the output.