In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('computerscience.sqllite')

In [4]:
cur =conn.cursor()

In [5]:
cur.execute('drop table if exists student2')

In [15]:
cur.execute('CREATE table student2 (name TEXT, age INTEGER)')

In [18]:
cur.execute('insert into student2(name,age) values (?,?)',('hari',21))

In [19]:
cur.execute('insert into student2(name,age) values(?,?)',('velan',16))

In [20]:
conn.commit()

In [26]:
print('student2:')
cur.execute('select name from student2')
for row in cur:
       print(row)

student2:
('hari',)
('velan',)

In [30]:
cur.execute('delete from student2 where age>16')
conn.commit()

In [29]:
cur.execute('select * from student2')

In [31]:
cur.execute('select name,age from student2')
for row in cur:
    print(row)

('velan', 16)

In [32]:
cur.execute('update student2 set age=17 where age=16')

In [33]:
conn.commit()

In [34]:
cur.execute('select name,age from student2')
for row in cur:
    print(row)

('velan', 17)

In [37]:
cur.execute('insert into student2(name,age) values(?,?)',('keerthana',25))

In [38]:
cur.execute('select name,age from student2')
for row in cur:
    print(row)

('velan', 17)
('keerthana', 25)

In [40]:
cur.execute('update student2 set age=23 where age=25')

In [41]:
cur.execute('select name,age from student2')
for row in cur:
    print(row)

('velan', 17)
('keerthana', 23)

In [42]:
conn.commit()

In [43]:
conn.close()